!!!
%html
  %head
    %meta{:name=>'viewport', :content=>'width=device-width, initial-scale=1.0'}
    %title= @page_title
    %link{:href=>'/bootstrap/css/bootstrap.min.css', :rel=>'stylesheet', :media=>'screen'}
    %link{:href=>'/bootstrap/css/bootstrap-theme.min.css', :rel=>'stylesheet', :media=>'screen'}
    %link{:href=>'/bootstrap/css/bootstrap-site-theme.css', :rel=>'stylesheet', :media=>'screen'}
    %link{:href=>'/css/common.css', :rel=>'stylesheet', :media=>'screen'}

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .container#header
        .navbar-header
          %button.navbar-toggle{'data-target'.to_sym => '.navbar-collapse', 'data-toggle'.to_sym => 'collapse', :type => 'button'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => '/'} Ginger
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li{:class => 'dropdown'}
              %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle'.to_sym => 'dropdown'}
                Pages
                %b{:class => 'caret'}
              %ul{:class => 'dropdown-menu'}
                %li
                  %a{:href => '/my/pages'}My Pages
                %li
                  %a{:href => '/pages'}All Pages
            %li{:class => 'dropdown'}
              %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle'.to_sym => 'dropdown'}
                Data Sources
                %b{:class => 'caret'}
              %ul{:class => 'dropdown-menu'}
                %li
                  %a{:href => '/my/data_sources'}My Data Sources
                %li
                  %a{:href => '/explore'}All Data Sources
            %li{:class => 'dropdown'}
              %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle'.to_sym => 'dropdown'}
                Groups
                %b{:class => 'caret'}
              %ul{:class => 'dropdown-menu'}
                %li
                  %a{:href => '/my/groups'}My Groups
                %li
                  %a{:href => '/groups'}All Groups
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href=>'/help'}Help
            %li
              %a{:href => '/logout'} Logout

    .container
      %form{:action => "/page/#{@page_id}", :method => 'POST'}
        %p
          %h3 Title
          %input.form-control{:name => 'title', :type => 'text', :value => "#{@page[:title]}", :style => 'width: 100%;'}
        %p
          %h3 Content
          %textarea.form-control{:name => 'content', :style => 'width: 100%; height: 250px;'}= @page[:content]
        %p
          %h3 Permissions
          %b User:
          %textarea.form-control{:name => 'user_permissions', :style => 'width: 100%; height: 40px;'}= @page[:user_permissions]
          %b Group:
          %textarea.form-control{:name => 'group_permissions', :style => 'width: 100%; height: 40px'}= @page[:group_permissions]
          %b All:
          %textarea.form-control{:name => 'all_permissions', :style => 'width: 100%; height: 40px'}= @page[:all_permissions]
        %input{:type => 'submit', :value => 'Submit', :class=>'btn btn-success'}
        %button{:type=>'button', :class=>'btn btn-danger', 'data-toggle'.to_sym=>'modal', 'data-target'.to_sym=>'#confirm-delete'}Delete
    %script{:src=>'/js/jquery-2.0.3.min.js'}
    %script{:src=>'/bootstrap/js/bootstrap.min.js'}

  %div{:class=>'modal fade', :id=>'confirm-delete', :role=>'dialog', 'aria-labelledby'.to_sym=>'myModalLabel', 'myModalLabel'.to_sym=>'true'}
    %div{:class=>'modal-dialog'}
      %div{:class=>'modal-content'}
        %div{:class=>'modal-header'}
          %button{:type=>'button', :class=>'close', 'data-dismiss'.to_sym=>'modal'}
          %h4{:class=>'modal-title'}Delete page?
        %div{:class=>'modal-body'}
          %p This deletion will be permanent. Continue?
        %div{:class=>'modal-footer'}
          %button{:type=>'button', :class=>'btn btn-default', 'data-dismiss'.to_sym=>'modal', 'aria-hidden'.to_sym=>'true'}Cancel
          %form{:method=>'post', :action=>"/page/#{@page_id}", :style=>'display: inline'}
            %input{:type=>'hidden', :name=>'delete_page', :value=>'true'}
            %input{:type=>'submit', :class=>'btn btn-danger', 'aria-hidden'.to_sym=>'true', :value=>'Delete'}
